{% extends 'base.html.twig' %}

{% block title %}Index des Inventions{% endblock %}

{% block body %}
    <h3>Index des Inventions</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Invention</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personality in personalities %}
            <tr>
                <td>{{ personality.id }}</td>
                <td><img src="{{ asset('img/personnalites/' ~ personality.imgUrl) }}" alt="{{ personality.nom }}" width="150"></td>
                <td>{{ personality.invention.titre }}</td>
                <td>
                    <button type="button" class="btn btn-outline-warning"><a href="{{ path('personality_show', {'id': personality.id}) }}">Details</a></button>
                    <button type="button" class="btn btn-outline-warning"><a href="{{ path('personality_edit', {'id': personality.id}) }}">Modifier</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-outline-warning"><a href="{{ path('personality_new') }}">Créer Invention</a></button>
{% endblock %}
