{% extends "base.html.twig" %}

{% block title %}Inventions à travers les Ages{% endblock %}

{% block body %}
    <h3>Inventions à travers les Ages</h3>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tri par Époque
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/invent/list/prehistoire">Préhistoire</a>
            <a class="dropdown-item" href="/invent/list/antiquite">Antiquité</a>
            <a class="dropdown-item" href="/invent/list/moyenage">Moyen Âge</a>
            <a class="dropdown-item" href="/invent/list/moderne">Époque Moderne</a>
            <a class="dropdown-item" href="/invent/list/contemporaine">Époque Contemporaine</a>
            <a class="dropdown-item" href="/invent/list/">Toutes les époques</a>
        </div>
    </div>

    {% for elem in data %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ asset('img/inventions/'~ elem.img_url ~'') }}" class="card-img" alt="{{ elem.img_url }}">

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ elem.titre }}</h5>
                        <p class="card-text">{{ elem.extrait }}</p>
                        <a href="/invent/{{ elem.id }}"><button type="button" class="btn btn-outline-warning">Détails</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
