{% extends "base.html.twig" %}

{% block title %}Inventions à travers les Ages{% endblock %}

{% block body %}
    <h3>Inventions à travers les Ages</h3>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tri par Époque
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ path('list_invention',{epoque: 'prehistoire'}) }}">Préhistoire</a>
            <a class="dropdown-item" href="{{ path('list_invention',{epoque: 'antiquite'}) }}">Antiquité</a>
            <a class="dropdown-item" href="{{ path('list_invention',{epoque: 'moyen age'}) }}">Moyen Âge</a>
            <a class="dropdown-item" href="{{ path('list_invention',{epoque: 'moderne'}) }}">Époque Moderne</a>
            <a class="dropdown-item" href="{{ path('list_invention',{epoque: 'contemporaine'}) }}">Époque Contemporaine</a>
            <a class="dropdown-item" href="{{ path('list_invention') }}">Toutes les époques</a>
        </div>
    </div>

    {% for elem in data %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ asset('img/inventions/'~ elem.imgUrl ~'') }}" class="card-img" alt="{{ elem.imgUrl }}">

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ elem.titre }}</h5>
                        <p class="card-text">{{ elem.extrait }}</p>
                        <a href="{{ path('detailsInvention',{'invent':elem.id}) }}"><button type="button" class="btn btn-outline-warning">Détails</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
