{% extends "base.html.twig" %}

{% block title %}Personnalités Historique{% endblock %}

{% block body %}
<h3>Personnalités Historiques</h3>

    {% for elem in data %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ asset('img/personnalites/'~ elem.imgUrl ~'') }}" class="card-img" alt="{{ elem.imgUrl }}">

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ elem.nom }} - {{ elem.dateNaissance }} - {{ elem.dateDeces }}</h5>
                        <p class="card-text">{{ elem.biographie }}</p>
                        <a href="/personnalite/{{ elem.id }}"><button type="button" class="btn btn-outline-warning">Détails</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}